## MacOS
**/.DS_Store

## Virtual Environment
**/.venv
.venv

## UV Virtual Environment
.python-version
pyproject.toml
main.py
uv.lock

**/src/TileDL_002.py
**/src/TileDL_002.ipynb
**/templates/styles.css
**/templates/index_copy.html